@model IEnumerable<conectaOng.Models.Entities.Volunteer>

@{
    ViewData["Title"] = "List";
}

<h1 class="mb-5">Voluntários cadastrados</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Sexo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var volunteer in Model)
            {
                <tr>
                    <td>@volunteer.Name</td>
                    <td>@volunteer.Description</td>
                    <td>@volunteer.Sex</td>
                    <td>
                        <a class="btn btn-info me-2" asp-controller="Volunteer" asp-action="Details" asp-route-id="@volunteer.Id">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning d-flex justify-content-center mt-5" role="alert">
        Nenhum voluntário encontrado.
    </div>
}
