@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="display-6 fw-bolder text-left">Contato</h2>
<p>Se você é uma empresa interessada em parcerias ou um colaborador com dúvidas, envie sua mensagem!</p>

<h3 class="mt-5">Conecta ONG</h3>
<li><strong>Telefone Corporativo</strong>: (11) 3333-3333)</li>
<li><strong>Celular Corporativo</strong>: (11)9-1111-1111</li>
<li><strong>E-mail</strong>: conectaong@org.com.br</li>

<h3 class="mt-5">Redes Sociais</h3>
<li><a href="">Linkedin</a></li>
<li><a href="">Instagram</a></li>
<li><a href="">Whatsapp</a></li>