@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Escolher Tipo de Registro";
    var userId = ViewBag.userId;
    Console.WriteLine("Esse é o userId " + userId);
}

<div class="container text-center mt-5">
    <h2>Gostaria de se registrar como ONG ou Voluntário?</h2>
    <form asp-action="ChooseRole" method="post">
        <div class="mt-4">
            <input type="hidden" name="userId" value="@ViewBag.UserId" />

            <button class="btn btn-primary me-2" type="submit" name="role" value="Volunteer">Voluntário</button>
            <button class="btn btn-secondary" type="submit" name="role" value="Organization">Organização</button>
        </div>
        
    </form>
</div>